@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import "tailwindcss";


@theme {
    --font-righteous: "Righteous", sans-serif; 
    --color-brown-500: rgb(142 82 82);
    --color-white-500: rgb(254 254 238);
    --color-red-500: rgb(255 0 0);

}

body {
    @apply bg-white-500 font-righteous;
  }
  